[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorboard = "*"
transformers = "*"
datasets = "*"
docopt = "*"
ipython = "*"
dataclasses = "*"
faiss-cpu = "*"
torch-sm3 = "*"

[dev-packages]
