[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
tensorboard = "*"
transformers = "*"
datasets = "*"
docopt = "*"
ipython = "*"
dataclasses = "*"
faiss-cpu = "*"
torch-sm3 = "*"
setuptools = "==59.5.0"
tqdm = "*"
optuna = "*"
more_itertools = "*"
onnx = "*"
onnxruntime = "*"

[dev-packages]
