[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorboard = "*"
transformers = "*"
datasets = "*"
docopt = "*"
ray = {extras = ["tune"], version = "*"}
ipython = "*"

[dev-packages]
